/* ************************** */
/* GENERAL COMPONENTS SECTION */
/* ************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  background-color: #f0f5f9;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  line-height: 1;
  font-weight: 500;
  /* font-style: italic; */
  font-size: 2.4rem;
  color: #1e2022;
}

section {
  margin-bottom: 16rem;
}
span {
  color: #1e2022;
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.primary-header {
  font-size: 4.4rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.card:nth-child(3n) {
  grid-column: 1 / -1;
}

.card-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.4rem 3.2rem;
  gap: 4.8rem;
  transform: translateY(-35%);
  transition: all 0.6s;
}

.card-img {
  width: 100%;
}
