/* **************** */
/** HEADER SECTION **/
/* **************** */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f5f9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #1e2022;
}

.main-nav-link:hover,
.main-nav-link:active {
}

.my-fancy-home-logo {
  color: #1e2022;
}

.search-form {
  /* width: 150%; */
}

.search-form input {
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  color: inherit;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* **************** */
/*** HERO SECTION ***/
/* **************** */

.hero {
  max-width: 140rem;
  margin: 0 auto;
}

.section-hero {
}

.hero-paragraph {
  font-size: 3.6rem;
}

.hero-img {
  width: 100%;
}

.hero-img-box {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/hero/hero-horizontal.jpg");
  background-size: cover;
  background-position: center;
  padding: 4.4rem;
  height: 100rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 7fr;
  text-align: right;
}

.hero-img-box h1,
.hero-img-box p {
  /* color: #fff; */
  grid-column: 2 / -1;
}

.hero-img-box h1 {
  grid-row: 1 / 2;
}

.hero-img-box p {
  grid-row: 3 / 4;
}

/* **************** */
/*** ROOM SECTION ***/
/* **************** */

.room-card::after {
}

.room-card:nth-child(3n) {
  grid-column: 1 / -1;
}

.room-card:hover .room-card-thumb .room-card-caption {
  transform: translateY(-100%);
}

.room-card-thumb {
  overflow: hidden;
  position: relative;
}

.room-card-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.4rem 3.2rem;
  gap: 4.8rem;
  transform: translateY(-35%);
  transition: all 0.6s;
  z-index: 1;
}

.room-card-img {
  width: 100%;
}

.room-card-btn:link,
.room-card-btn:visited {
  text-transform: uppercase;
  color: inherit;
}

.room-card-btn:hover,
.room-card-btn:active {
}
/* **************** */
/*** ITEM SECTION ***/
/* **************** */
